//大標題
.title {
    font-size: 2.5rem;
    font-weight: bold;
}

//次標題
.sec-title {
    font-size: 2rem;
}

//中等標題-     圖片大標題
.third-title {
    font-size: 1.75rem;
}

//次低標題
.fourth-title {
    font-size: 1.5rem;
}

//次次低標題
.fifth-title {
    font-size: 1.25rem;
}

//最低標題-     內文、圖片小標題
.siexth-title {
    font-size: 1rem;
}

//內文小字
.content-little {
    font-size: 0.8rem;
}